// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 700px;
  margin: 0 auto;
  height: 100vh;
  background-color: #DBE2FF;
  text-align: center;
  padding-top: 35px;
  color: #293068;
}

.h1 {

}

#list {
  width: 300px;
  text-align: center;
  margin-left: 150px;
}
